<%- include('includes/head.ejs') %>
<h1>This is the List of Products you Added:</h1>

<div class="products-container">
<div class="product-list">
    <% if (products.length > 0) { %>
    <% products.forEach( (product) => {%>
    <div>
        <p> Product Name: <%= product.name %>  </p>
        <p>Number: <%= product.number %></p>
        <img class="photos" src="<%= product.category%> " alt="books">
    </div>
    <% }) %>
    

</div>
</div>

<div class="remove">
    <p>If you want to remove some products just write the "name" of the product and click in remove</p>
    <form action="/remove-products" method="POST">
        <input type="text" name="product">
        <button type="input">Remove Product</button>
    </form>
</div>
<% } else {%>

<h1>No Products Added</h1>
<% } %>




<%- include('includes/end.ejs') %>